@page "/generate"
@using WebBuilder.Data
@inject TemplateService TemplateService
@inject WebBuilder.Data.ButtonService ButtonService

<!-- Include scoped CSS file -->
<link rel="stylesheet" href="Generate.razor.css" />


<!-- Structure of the Page -->
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>Input (@currentInputIndex/@inputs.Count)</h2>
            <label for="inputText">Text:</label>
            <textarea id="inputText" @bind="inputs[currentInputIndex - 1]" class="form-control"></textarea>
            <button @onclick="PreviousInput" class="btn btn-secondary">Back</button>
            <button @onclick="NextInput" class="btn btn-primary">Next</button>
        </div>
        <div class="col-md-6">
            <h2>Preview</h2>
<!-------------------------- Template 1 -------------------------------------------------------------------------------------------------->
            @if (TemplateService.CurrentTemplate.TemplateName == "template1")
            {
                <html lang="en">
                
                <head>
                </head>

                <body>
                    <h1>Template 1</h1>
                    <div class="container">
                        <!-- --------------Banner Section--------------------------------- -->
                        <div class="banner row">
                        </div>
                        <!-- ------------End of Banner Section---------------------------- -->
                        <!-- --------------(Buttons) Navigation Section------------------- -->
                        <div class="contentarea row">
                            <div class="Actionbuttons col-lg-5 col-md-7 col-12">
                                @for (int i = 0; i < int.Parse(ButtonService.NumberOfButtons); i++)
                                {
                                    <CustomButton ButtonText="@ButtonService.ButtonText" ButtonColor="@ButtonService.ButtonColor" ButtonWidth="@ButtonService.ButtonWidth" ButtonHeight="@ButtonService.ButtonHeight" ButtonFont="@ButtonService.ButtonFont" ButtonFontWeight="@ButtonService.ButtonFontWeight" ButtonFontSize="@ButtonService.ButtonFontSize" ButtonTextColor="@ButtonService.ButtonTextColor" ButtonCornerRadius="@ButtonService.ButtonCornerRadius"></CustomButton>
                                }
                            </div>
                        </div>
                        <!-- ------------End of Navigation Section------------------------ -->
                        <!-- ---------------Message Section------------------------------  -->
                        <div class="message row">
                            <!-- Welcome Paragraph Message -->
                            <div class="messagecontent col-lg-9 col-12">
                                @foreach (var input in inputs)
                                {
                                    <p>@input</p>
                                }
                            </div>

                            <div class="translator col-lg-3 col-12">
                                <div id="google_translate_element"></div>
                            </div>
                        </div>
                        <!-- -----------End of Message Section---------------------------- -->
                        <!-- ------------Footer Section----------------------------------- -->
                        <div class="footer row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footersection">Office Address</div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footersection">Office Hours</div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footersection">Mailing Address</div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="footersection">Contact Info</div>
                            </div>

                        </div>
                        <!-- --------------End of Footer Section-------------------------- -->
                    </div>
                </body>
                </html>

            }
<!-------------------------- Template 2 -------------------------------------------------------------------------------------------------->
            else if (TemplateService.CurrentTemplate.TemplateName == "template2")
            {
                <h1>Template 2</h1>
                @foreach (var input in inputs)
                {
                    <p>@input</p>
                }
            }
        </div>
    </div>
</body>



<!-- Code Section -->
@code {
    //private string inputText = "";
    private List<string> inputs = new List<string>(Enumerable.Repeat("", 15));
    private int currentInputIndex = 1;

    private void NextInput()
    {
        if (currentInputIndex < inputs.Count)
        {
            currentInputIndex++;
        }
    }

    private void PreviousInput()
    {
        if (currentInputIndex > 1)
        {
            currentInputIndex--;
        }
    }
}